@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  background-image: url(haikeii.svg);
  background-size: cover;
  background-repeat: repeat;
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 99px;
}
.card {
  width: 190px;
  height: 254px;
  margin: 15px auto;
  background-color: #011522;
  border-radius: 8px;
  z-index: 1;
}

.tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}
.card .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
}
.card button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  background: #eee;
  color: #011522;
  font-weight: 600;
  transition: 0.3s;
}

.card button:hover {
  background: #b0b0b0;
}
.card span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  font-size: 16px;
}
.content {
  margin-top: 30px;
}
a {
  color: #011522;
}
